In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.read_csv("resources/7160_1.csv")
df_1.head()

,address,categories,city,country,key,lat,long,name,phones,postalCode,province,websites
0,407 Radam Ln,brewery,Austin,US,us/tx/austin/407radamln,NaN,NaN,(512) Brewing Co,5127072337,78745,TX,NaN
1,1135 N W Galveston Ave,Brewery and Bar,Bend,US,us/or/bend/1135nwgalvestonave,NaN,NaN,"10 Barrel Brewing Company, 10 Barrel Brewing Co","(541) 585-1007, 5415851007",97703,OR,10barrel.com
2,830 W Bannock St,"brewery, Restaurant, Pub, Brewery, pub, Brewer...",Boise,US,us/id/boise/830wbannockst,43.617711,-116.202883,"10 Barrel Brewing, 10 Barrel Brewing Co.","(208) 344-5870, 2083445870, 2.08344587E9",83702,ID,10barrel.com
3,1022 Texan Trl,"Wine Tours & Tastings, Food & Drink, Tours, Br...",Grapevine,US,us/tx/grapevine/1022texantrl,32.938385,-97.064340,10 Gallon Tours,"18174031832, 817 403-1832",76051,TX,http://www.10gallontours.com/
4,Po Box 135,"American Restaurants, Bar & Grill Restaurants,...",Villard,US,us/mn/villard/pobox135,NaN,NaN,10 Mile Tavern,3205542939,56385,MN,http://www.10miletavern.com

In [9]:
df_1.count()
# Lat and lng appear to be limiting factors here, and we really want that data, but zip codes/more data may be more important
#clean them individually and merge using pd.concat()?

address       7375
categories    7375
city          7375
country       7375
key           7375
lat           5414
long          5416
name          7375
phones        6159
postalCode    7272
province      7375
websites      3548
dtype: int64

In [3]:
df_2 = pd.read_csv("resources/8260_1.csv")
df_2.head()

,id,address,categories,city,country,hours,keys,latitude,longitude,menus,name,postalCode,province,twitter,websites
0,AVweN1T_ByjofQCxwSPL,Syr Airport,Brewery,Syracuse,US,NaN,us/ny/syracuse/syrairport/2098450797,NaN,NaN,NaN,Adirondack Pub,NaN,NY,NaN,NaN
1,AVwdkF9ZIN2L1WUfxDfw,1320 N Doctor Martin Luther King Dr,Office and Cafeteria Brewer's Hill,Milwaukee,US,NaN,us/wi/milwaukee/1320ndoctormartinlutherkingdr/...,NaN,NaN,NaN,The Waterfront Cafe,53212,WI,NaN,NaN
2,AVwdlPkf_7pvs4fz7TMr,608 4th St,Brewery Downtown Clovis,Clovis,US,"[{""day"":""Wed - Sat"",""hour"":""5:00 PM - 8:00 PM""}]",us/ca/clovis/6084thst/-932885010,NaN,NaN,NaN,559 Local Brewing,93612,CA,NaN,http://fresnobrewing.com
3,AVwcucY0kufWRAb5yWbU,1103 Mills St,breweries & brew pubs,Black Earth,US,NaN,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,NaN,Shack The,53515-9454,WI,NaN,NaN
4,AVweCkd5kufWRAb5_eaI,130 W Riverside Dr,Brewery and Gastropub Downtown Jeffersonville,Jeffersonville,US,"[{""day"":""Wed - Thu"",""hour"":""3:00 PM - 9:00 PM""...",us/utica/jeffersonville/130wriversidedr/787280564,NaN,NaN,NaN,Flat12 Bierworks,47130,Utica,flat12bierwerks,http://flat12.me/brewery

In [10]:
df_2.count()

id            17823
address       17823
categories    17823
city          17823
country       17823
hours          8015
keys          17823
latitude      12324
longitude     12324
menus          1479
name          17823
postalCode    17198
province      17823
twitter        3050
websites       6566
dtype: int64

In [12]:
df_1.columns

Index(['address', 'categories', 'city', 'country', 'key', 'lat', 'long',
       'name', 'phones', 'postalCode', 'province', 'websites'],
      dtype='object')

In [15]:
df_1_selected_columns_df = df_1[["country", "postalCode", "province", "city", "address", "lat", "long", "categories", "name" ]]
df_1_selected_columns_df.head()

,country,postalCode,province,city,address,lat,long,categories,name
0,US,78745,TX,Austin,407 Radam Ln,NaN,NaN,brewery,(512) Brewing Co
1,US,97703,OR,Bend,1135 N W Galveston Ave,NaN,NaN,Brewery and Bar,"10 Barrel Brewing Company, 10 Barrel Brewing Co"
2,US,83702,ID,Boise,830 W Bannock St,43.617711,-116.202883,"brewery, Restaurant, Pub, Brewery, pub, Brewer...","10 Barrel Brewing, 10 Barrel Brewing Co."
3,US,76051,TX,Grapevine,1022 Texan Trl,32.938385,-97.064340,"Wine Tours & Tastings, Food & Drink, Tours, Br...",10 Gallon Tours
4,US,56385,MN,Villard,Po Box 135,NaN,NaN,"American Restaurants, Bar & Grill Restaurants,...",10 Mile Tavern

In [17]:
df_1_selected_columns_df.count()

country       7375
postalCode    7272
province      7375
city          7375
address       7375
lat           5414
long          5416
categories    7375
name          7375
dtype: int64

In [18]:
# Get rid of rows with NAs in the following columns: country, postalCode, province, city, address

df_1_selective_NaN_cleaning_df = df_1_selected_columns_df.dropna(subset = ["country", "postalCode", "province",\
                                                                           "city", "address"])
df_1_selective_NaN_cleaning_df.count()

country       7272
postalCode    7272
province      7272
city          7272
address       7272
lat           5352
long          5354
categories    7272
name          7272
dtype: int64

In [21]:
df_1_selective_NaN_cleaning_df.head()

,country,postalCode,province,city,address,lat,long,categories,name
0,US,78745,TX,Austin,407 Radam Ln,NaN,NaN,brewery,(512) Brewing Co
1,US,97703,OR,Bend,1135 N W Galveston Ave,NaN,NaN,Brewery and Bar,"10 Barrel Brewing Company, 10 Barrel Brewing Co"
2,US,83702,ID,Boise,830 W Bannock St,43.617711,-116.202883,"brewery, Restaurant, Pub, Brewery, pub, Brewer...","10 Barrel Brewing, 10 Barrel Brewing Co."
3,US,76051,TX,Grapevine,1022 Texan Trl,32.938385,-97.064340,"Wine Tours & Tastings, Food & Drink, Tours, Br...",10 Gallon Tours
4,US,56385,MN,Villard,Po Box 135,NaN,NaN,"American Restaurants, Bar & Grill Restaurants,...",10 Mile Tavern

In [22]:
df_1_selective_NaN_cleaning_df["country"].value_counts()

US    7272
Name: country, dtype: int64

In [23]:
df_1_selective_NaN_cleaning_df["province"].value_counts()

# I'm going to need to remove any province listings that aren't US states. Time for a template.

CA             889
NY             457
PA             396
OH             372
ME             325
WI             324
WA             322
TX             308
CO             301
OR             293
MI             266
FL             265
IL             230
NC             177
VA             171
AZ             153
NJ             149
IN             144
MD             124
MO             123
MN             108
IA             106
MA             104
TN              95
GA              77
MT              73
AL              67
SC              58
VT              57
NV              56
              ...
KY              51
NE              49
NH              49
NM              48
ID              45
LA              35
UT              33
KS              32
WV              32
AK              27
OK              25
HI              24
DE              23
RI              20
WY              16
DC              14
SD              13
AU-WA           13
MS              10
ND               5
Denver           2
St. Louis        1
Tampa            1
ON               1
NL               1
Sacramento       1
San Diego        1
Pittsburgh       1
Los Angeles      1
AB               1
Name: province, Length: 62, dtype: int64

In [26]:
state_names_df = pd.read_csv("resources/50_us_states_all_data.csv")
state_names_df.head()

    state_cap  state_name abbrv    name
0     ALABAMA     Alabama    AL    Ala.
1      ALASKA      Alaska    AK  Alaska
2     ARIZONA     Arizona    AZ   Ariz.
3    ARKANSAS    Arkansas    AR    Ark.
4  CALIFORNIA  California    CA  Calif.

In [28]:
states_list = state_names_df["abbrv"].values.tolist()
print(len(states_list))

50

In [34]:
df_1_states_only_df = df_1_selective_NaN_cleaning_df[df_1_selective_NaN_cleaning_df["province"].isin(states_list)]
df_1_states_only_df["province"].value_counts()

CA    889
NY    457
PA    396
OH    372
ME    325
WI    324
WA    322
TX    308
CO    301
OR    293
MI    266
FL    265
IL    230
NC    177
VA    171
AZ    153
NJ    149
IN    144
MD    124
MO    123
MN    108
IA    106
MA    104
TN     95
GA     77
MT     73
AL     67
SC     58
VT     57
NV     56
AR     55
CT     52
KY     51
NH     49
NE     49
NM     48
ID     45
LA     35
UT     33
KS     32
WV     32
AK     27
OK     25
HI     24
DE     23
RI     20
WY     16
SD     13
MS     10
ND      5
Name: province, dtype: int64

In [35]:
len(df_1_states_only_df["province"].value_counts())

50

In [36]:
df_1_states_only_df.head()

,country,postalCode,province,city,address,lat,long,categories,name
0,US,78745,TX,Austin,407 Radam Ln,NaN,NaN,brewery,(512) Brewing Co
1,US,97703,OR,Bend,1135 N W Galveston Ave,NaN,NaN,Brewery and Bar,"10 Barrel Brewing Company, 10 Barrel Brewing Co"
2,US,83702,ID,Boise,830 W Bannock St,43.617711,-116.202883,"brewery, Restaurant, Pub, Brewery, pub, Brewer...","10 Barrel Brewing, 10 Barrel Brewing Co."
3,US,76051,TX,Grapevine,1022 Texan Trl,32.938385,-97.064340,"Wine Tours & Tastings, Food & Drink, Tours, Br...",10 Gallon Tours
4,US,56385,MN,Villard,Po Box 135,NaN,NaN,"American Restaurants, Bar & Grill Restaurants,...",10 Mile Tavern

In [37]:
df_1_states_only_df.count()

country       7234
postalCode    7234
province      7234
city          7234
address       7234
lat           5334
long          5336
categories    7234
name          7234
dtype: int64

In [14]:
df_2.columns

Index(['id', 'address', 'categories', 'city', 'country', 'hours', 'keys',
       'latitude', 'longitude', 'menus', 'name', 'postalCode', 'province',
       'twitter', 'websites'],
      dtype='object')

In [16]:
df_2_selected_columns_df = df_2[["country", "postalCode", "province", "city", "address", "latitude", "longitude",\
                                 "categories", "name" ]]
df_2_selected_columns_df.head()

# Notice that I'll have to use some regex on postal codes that aren't just the five digit kind.

,country,postalCode,province,city,address,latitude,longitude,categories,name
0,US,NaN,NY,Syracuse,Syr Airport,NaN,NaN,Brewery,Adirondack Pub
1,US,53212,WI,Milwaukee,1320 N Doctor Martin Luther King Dr,NaN,NaN,Office and Cafeteria Brewer's Hill,The Waterfront Cafe
2,US,93612,CA,Clovis,608 4th St,NaN,NaN,Brewery Downtown Clovis,559 Local Brewing
3,US,53515-9454,WI,Black Earth,1103 Mills St,43.138995,-89.747904,breweries & brew pubs,Shack The
4,US,47130,Utica,Jeffersonville,130 W Riverside Dr,NaN,NaN,Brewery and Gastropub Downtown Jeffersonville,Flat12 Bierworks

In [19]:
df_2_selected_columns_df.count()

country       17823
postalCode    17198
province      17823
city          17823
address       17823
latitude      12324
longitude     12324
categories    17823
name          17823
dtype: int64

In [20]:
df_2_selective_NaN_cleaning_df = df_2_selected_columns_df.dropna(subset = ["country", "postalCode", "province", "city",\
                                                                           "address"])
df_2_selective_NaN_cleaning_df.count()

country       17198
postalCode    17198
province      17198
city          17198
address       17198
latitude      11839
longitude     11839
categories    17198
name          17198
dtype: int64

In [38]:
df_2_states_only_df = df_2_selective_NaN_cleaning_df[df_2_selective_NaN_cleaning_df["province"].isin(states_list)]
len(df_2_states_only_df["province"].value_counts())

50

In [39]:
df_2_states_only_df.count()

country       15574
postalCode    15574
province      15574
city          15574
address       15574
latitude      10560
longitude     10560
categories    15574
name          15574
dtype: int64

In [ ]:
# Check for duplicates between the two datasets after concatenating them.